Options -Indexes  +FollowSymLinks -MultiViews
IndexIgnore */*
RewriteEngine on
RewriteBase /ECL/Projets/challenger/

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php

