/* *********************************************************/
/* Challenger V3 : Gestion de l'organisation du Challenge **/
/* Créé par Raphaël Kichot' MOULIN *************************/
/* raphael.moulin@ecl13.ec-lyon.fr *************************/
/* *********************************************************/
/* assets/css/print.css ************************************/
/* *********************************************************/
/* Dernière modification : le 20/11/14 *********************/
/* *********************************************************/

.noprint, .noprint * {
	display:none !important;
	width:0px;
}

body {
	background:#FFF;
	color:#000;
	font-size:11px !important;
}
